:root{

    --color-primary: rgba(39, 174, 96, 1);
    --color-primary-50: rgba(147, 215, 175, 1);
    --color-text: rgb(0, 0, 0);
    --grey-100: rgba(51, 51, 51, 1);
    --grey-50: rgba(130, 130, 130, 1);
    --grey-20: rgba(224, 224, 224, 1);
    --fonte-main: 'Inter', sans-serif;
    --border-main: 8px;
    --background-main:rgb(255, 255, 255);
    --color-white: rgb(255, 255, 255);
   

}
